<!DOCTYPE html>
<html>
    <head>
        <title>TADS Atividade Desenvolvimento Web 2023-1</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Listagem e inclusão de filmes</h1>
        <h2>TADS Atividade Desenvolvimento Web 2023-1 - Turma A</h2>
        <p>Nome completo: <strong>Eduardo Ramos Alves Ribeiro</strong></p>
        <p>Está cursando PI4 neste semestre? <strong>SIM</strong></p>
        <p>Observações:<br />
            <em style="color: #aaa">- index.html está na pasta "templates" porque é a pasta padrão de acesso do Spring MVC
                <br>- arquivo gerado pelo banco H2 é salvo dentro da pasta do usuário logado na máquina
            </em>
        </p>
        <p>
            <a href="/filmes">Link para tela de listagem dos filmes</a>
        </p>
    </body>
</html>
